body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  h1 {
    color: #dfc63a;
  }
  button, .button {
    background-color: #e1e429;
    color: rgb(0, 0, 0); 
    padding: 5px 10px; 
    text-align: center; 
    font-size: 9px; 
    border: none; 
    border-radius: 10px;
    cursor:hand;
  }
  button:hover, .button:hover {
    background-color: #e1e429; 
    font-size: 9px; 
    border: none; 
    border-radius: 10px;
  }